<!DOCTYPE html>
<html>
    <head>
        <title>Le VIH a gagné</title>
        <link rel="stylesheet" href="../style/dead.css">
    </head>
    <body>
        <main id="main">
            <p id="p1">Vous ne pouvez pas gagner contre les IST...</p>
            <p id="p2">Faire l'amour n'est pas un jeu</p>
            <p id="p3">La prochaine fois protégez vous</p>
        </main>
    </body>
    <script>
        window.onload = function(){
        setTimeout(function() {
            document.getElementById("main").innerHTML = "";
        }, 9000);
        }
    </script>
</html>