<!DOCTYPE html>
<html>
  <head>
    <title>NDI 2022 - MST</title>
    <link rel="stylesheet" href="../style/home.css" />
  </head>
  <body>
    <header>
      <h1>NDI 2022 - MST</h1>
      <img alt="LogoIUT" src="../images/iut.png" />
    </header>
    <main>
      <article class="mainPart">
        <section class="introduction">
          <p>Le sexe, un aspect central de l’être humain tout au long de sa vie, 
            un plaisir charnel mais aussi dangereux pour lui. Pour contrer cela, 
            le meilleur moyen est de se protéger par les différents moyens de contraception mis à disposition. Sans ça, voila ce qui peut détruire votre vie.
          <img alt="" src="image" />
        </section>
        <div>
          <section class="right" id="VIH">
            <img alt="VIH" src="../images/vih.jpg" />
            <h2>LE VIH</h2>
            <p>
              Le VIH est le virus de l’immunodéficience humaine. La
              particularité du VIH est qu’il s’attaque aux cellules du système
              immunitaire, en particulier aux lymphocytes. Ce sont des cellules
              qui protègent le corps contre les attaques des maladies et autres
              infections. Le VIH peut donc provoquer des maladies graves et même
              la mort. Les symptomes du VIH sont très variables d’une personne à
              l’autre. Ils peuvent être très discrets ou très importants.
            </p>
            <ul>
              <li><strong>Listes des symptomes</strong></li>
              <li>De la fièvre</li>
              <li>Une fatigue</li>
              <li>Des frissons</li>
              <li>Un mal de gorge</li>
              <li>Des maux de tête</li>
              <li>Des douleurs articulaires</li>
              <li>Des douleurs musculaires</li>
              <li>L'enflure de glandes (ganglions lymphatiques)</li>
            </ul>
          </section>
          <section class="left" id="CHLAMYDIA">
            <img alt="chlamyda" src="../images/chlamyda.jpg" />
            <h2>LA CHLAMYDIA</h2>

            <p>
              La Chlamydia est une infection sexuellement transmissible (IST)
              provoquée par une bactérie. Elle est très fréquente et peut être
              asymptomatique. La chlamydia est transmise par voie sexuelle. Elle
              peut être transmise par voie orale, vaginale ou anale.
            </p>
            <ul>
              <li><strong>Listes des symptomes</strong></li>
              <li>Pertes vaginales anormales</li>
              <li>Saignements vaginaux après les</li>
              <li>Relations sexuelles et entre les menstruations</li>
              <li>Écoulements anormaux par le pénis ou l’anus</li>
              <li>Picotements ou sensation de brûlure en urinant</li>
              <li>Douleurs aux testicules ou dans la région de l’anus</li>
            </ul>
          </section>
          <section class="right" id="CONDYLOME">
            <img alt="condylome" src="../images/condylomes.jpg" />
            <h2>LES CONDYLOMES</h2>
            <p>
              Les condylomes sont des verrues de la peau et des muqueuses liées
              à une infection par un virus de la famille des Human papilloma
              Virus (HPV). On peut retrouver les condylomes au niveau des
              organes génitaux externes et internes, de l’anus et parfois de la
              gorge. Il existe plusieurs types de condylomes, le acuminé, le
              papuleux et le plan.
            </p>

            <ul>
              <li><strong>Listes des symptomes</strong></li>
              <li>Des verrues sur la peau ou les muqueuses</li>
              <li>Des démangeaisons</li>
            </ul>
          </section>
        </div>
        <div>
          <section class="left" id="GONORRHEE">
            <img alt="gonorrhee" src="../images/gonorhee.jpg" />
            <h2>LA GONORRHÉE</h2>

            <p>
              La gonorrhée est une infection sexuellement transmissible qui
              touche surtout les moins de 30 ans, en particulier les hommes et
              se transmet lors de rapports sexuels non protégés. Tous les types
              de rapports sexuels peuvent être contaminants, y compris la
              fellation et le cunnilingus qui seraient à l’origine de la moitié
              des cas de gonorrhée en France.
            </p>
            <ul>
              <li><strong>Listes des symptomes</strong></li>
              <li>Brulures en urinant / Ecoulements blancheatres</li>
              <li>Douleurs pendant les rapports sexuels</li>
              <li>Ecoulements vaginaux jauneatres/sanguignolants</li>
              <li>Maux de ventre</li>
              <li>Inflamation de la prostate</li>
              <li>Infertilité</li>
              <li>Inflammation des trompes de Fallope</li>
              <li>Grossesses Ectopiques</li>
              <li>Infection des yeux chez un nouveau né</li>
              <li>Cécité</li>
            </ul>
          </section>
          <section class="right" id="HERPES">
            <img alt="herpes" src="../images/herpes.jpg" />
            <h2>L'HERPES GENITAL</h2>
            <p>
              L'herpès génital est une infection sexuellement transmissible
              chronique, due à un virus voisin de celui qui provoque l'herpès de
              la bouche. Une fois la personne infectée, les crises d'herpès
              génital peuvent survenir tout au long de la vie. Les femmes sont
              un peu plus touchées que les hommes.
            </p>

            <ul>
              <li><strong>Listes des symptomes</strong></li>
              <li>Démangaisons et brulures génitales</li>
              <li>Apparition de vésicule</li>
              <li>Apparition de plaies suite a l'éclatement des vésicules</li>
              <li>Inflammations douloureuses sur l'appareil génital</li>
              <li>Fièvres et fatigue</li>
            </ul>
          </section>
        
          <section class="left" id="SYPHILIS">
            <img alt="syphilis" src="../images/syphilis.jpg" />
            <h2>LA SYPHILIS</h2>

            <p>
              La syphilis est une infection bactérienne sexuellement
              transmissible très contagieuse en particulier chez les homosexuels
              masculins qui représentent 80 % des cas. Chez 40 % des personnes
              touchées, en l’absence de traitement, de graves complications
              apparaissent.
            </p>
            <ul>
              <li><strong>Listes des symptomes</strong></li>
              <li>Rupture de vaisseaux sanguins</li>
              <li>Troubles neurologiques/psychatriques</li>
              <li>Destruction d'organes</li>
              <li>Boutons rouges sur les organes ou au fond de la gorge</li>
              <li>Ulcères</li>
              <li>Grippe</li>
              <li>Paralysie</li>
              <li>Inflammation de la rétine</li>
              <li>Augmente le risque d'infection au VIH</li>
              <li>Transmission au foetus</li>
              <li>Décès</li>
            </ul>
          </section>
        </div>
        <div>
          <section class="right" id="TRICHOMONASE">
            <img alt="trichomonase" src="../images/trichomonase.jpg" />
            <h2>LA TRICHOMONASE</h2>
            <p>
              La trichomonase est une infection sexuellement transmissible qui
              peut entraîner des complications et ne doit pas être négligée.
            </p>

            <ul>
              <li><strong>Listes des symptomes</strong></li>
              <li>Ecoulement vaginal/utéral abondant</li>
              <li>Pouriture de la vulve</li>
              <li>Douleurs lors de rapports sexuels ou en urinant</li>
              <li>Inflammation de la vulve</li>
              <li>Accouchement prématuré</li>
              <li>Envie fréquente d'uriner</li>
              <li>Inflammation de la prostate</li>
            </ul>
          </section>
          <section class="left" id="UREAPLASMA">
            <img alt="ureplasma" src="../images/ureaplasma.jpg" />
            <h2>L'UREAPLASMA UREALYTICUM</h2>

            <p>
              Ureaplasma urealyticum est une bactérie de la famille des
              mycoplasmes. Présente en excès dans les voies génitales, elle
              traduit un déséquilibre de la flore vaginale et un risque
              d'infections chez la femme mais aussi chez l'homme.
            </p>
            <ul>
              <li><strong>Listes des symptomes</strong></li>
              <li>Des pertes plus abondantes (femmes)</li>
              <li>Inflammation de l'urètre (homme)</li>
            </ul>
          </section>
        
          <section class="right" id="UTERITE">
            <img alt="uterite" src="../images/uterus.jpg" />
            <h2>L'UTERITE</h2>
            <p>
              L'urétrite est une inflammation de l'urètre, la voie qui conduit
              l'urine depuis la vessie jusqu'au méat urinaire, l'orifice par
              lequel sort l'urine ainsi que des glandes péri-urétrales. Cette
              inflammation est d'origine infectieuse dans la plupart des cas, et
              elle fait alors partie des infections sexuellement transmissibles
              (IST).
            </p>

            <ul>
              <li><strong>Listes des symptomes</strong></li>
              <li>Envies fréquentes d'uriner</li>
              <li>Sensations de pesenteur</li>
              <li>Inflammations et démangaisons des appareils génitaux</li>
              <li>Écoulements vaginaux intempestifs</li>
              <li>Douleurs lors des rapports sexuels</li>
              <li>Cervicite</li>
            </ul>
          </section>
      </article>
      <article class="btnP">
        <input 
          type="button"
          name="jouer"
          value="jouer"
          onclick="changePage()"
        />
      </article>
    </main>
    <footer>
      <p>Bryan Blin--Dorard / Viard Théo</p>
      <a href="javascript: return false;" id="non">
        <p id="egg">Ne pas se protéger</p>
      </a>
    </footer>
    </body>
    <script>
      let nbEast = 0;
      document.getElementById("non").onclick = bonsoirnon;
      function bonsoirnon() {
        switch (nbEast) {
          case 0: {
            document.getElementById("egg").innerHTML = "Êtes vous sur ?";
            nbEast++;
            break;
          }
          case 1: {
            document.getElementById("egg").innerHTML =
              "Vous risquez d'avoir des séquelles...";
            nbEast++;
            break;
          }
          case 2: {
            document.getElementById("egg").innerHTML =
              "Souhaitez vous vraiment ne pas vous protéger ?";
            nbEast++;
            break;
          }
          case 3: {
              document.getElementById("non").innerHTML = "<a href='dead.html'><p id='egg'>Cliquez pour faire l'amour sans protection...</p></a>"
            break;
          }
        }
      }
    </script>