<!DOCTYPE html>
<html>
  <head>
    <title>NDI 2022 - MST</title>
  </head>
  <body>
    <header>
      <h1>NDI 2022 - MST</h1>
      <img alt="Image cancer sida ect..." />
      <img ... />
    </header>
    <main>
      <article class="mainPart">
        <section class="introduction">
          <p>...</p>
          <img alt="" src="image" />
        </section>
        <section class="right" id="VIH">
            <h2>LE VIH</h2>
          <p>
            Le VIH est le virus de l’immunodéficience humaine. La particularité
            du VIH est qu’il s’attaque aux cellules du système immunitaire, en
            particulier aux lymphocytes. Ce sont des cellules qui protègent le
            corps contre les attaques des maladies et autres infections. Le VIH
            peut donc provoquer des maladies graves et même la mort. Les
            symptomes du VIH sont très variables d’une personne à l’autre. Ils
            peuvent être très discrets ou très importants.
          </p>
          <img alt="VIH" src="../images/vih.jpg" />
        </section>
        <section class="left" id="CHLAMYDIA">
            <h2>LA CHLAMYDIA</h2>
          <img alt="chla" src="image chla" />
          <p>
            La Chlamydia est une infection sexuellement transmissible (IST)
            provoquée par une bactérie. Elle est très fréquente et peut être
            asymptomatique. La chlamydia est transmise par voie sexuelle. Elle
            peut être transmise par voie orale, vaginale ou anale.
          </p>
        </section>
        <section class="right" id="CONDYLOME">
            <h2>LES CONDYLOMES</h2>
          <p>
            Les condylomes sont des verrues de la peau et des muqueuses liées à
            une infection par un virus de la famille des Human papilloma Virus
            (HPV). On peut retrouver les condylomes au niveau des organes
            génitaux externes et internes, de l’anus et parfois de la gorge. Il
            existe plusieurs types de condylomes, le acuminé, le papuleux et le
            plan.
          </p>
          <img alt="VIH" src="../images/vih.jpg" />
        </section>
        <section class="left" id="GONORRHEE">
            <h2>LA GONORRHÉE</h2>
          <img alt="chla" src="image chla" />
          <p>
            La gonorrhée est une infection sexuellement transmissible qui touche
            surtout les moins de 30 ans, en particulier les hommes et se
            transmet lors de rapports sexuels non protégés. Tous les types de
            rapports sexuels peuvent être contaminants, y compris la fellation
            et le cunnilingus qui seraient à l’origine de la moitié des cas de
            gonorrhée en France.
          </p>
        </section>
        <section class="right" id="HERPES">
            <h2>L'HERPES GENITAL</h2>
          <p>
            L'herpès génital est une infection sexuellement transmissible
            chronique, due à un virus voisin de celui qui provoque l'herpès de
            la bouche. Une fois la personne infectée, les crises d'herpès
            génital peuvent survenir tout au long de la vie. Les femmes sont un
            peu plus touchées que les hommes.
          </p>
          <img alt="VIH" src="../images/vih.jpg" />
        </section>
        <section class="left" id="SYPHILIS">
            <h2>LA SYPHILIS</h2>
          <img alt="chla" src="image chla" />
          <p>
            La syphilis est une infection bactérienne sexuellement transmissible
            très contagieuse en particulier chez les homosexuels masculins qui
            représentent 80 % des cas. Chez 40 % des personnes touchées, en
            l’absence de traitement, de graves complications apparaissent.
          </p>
        </section>
        <section class="right" id="TRICHOMONASE">
            <h2>LA TRICHOMONASE</h2>
          <p>
            La trichomonase est une infection sexuellement transmissible qui
            peut entraîner des complications et ne doit pas être négligée.
          </p>
          <img alt="VIH" src="../images/vih.jpg" />
        </section>
        <section class="left" id="UREAPLASMA">
            <h2>L'UREAPLASMA UREALYTICUM</h2>
          <img alt="chla" src="image chla" />
          <p>
            Ureaplasma urealyticum est une bactérie de la famille des
            mycoplasmes. Présente en excès dans les voies génitales, elle
            traduit un déséquilibre de la flore vaginale et un risque
            d'infections chez la femme mais aussi chez l'homme.
          </p>
        </section>
        <section class="right" id="UTERITE">
            <h2>L'UTERITE</h2>
          <p>
            L'urétrite est une inflammation de l'urètre, la voie qui conduit
            l'urine depuis la vessie jusqu'au méat urinaire, l'orifice par
            lequel sort l'urine ainsi que des glandes péri-urétrales. Cette
            inflammation est d'origine infectieuse dans la plupart des cas, et
            elle fait alors partie des infections sexuellement transmissibles
            (IST).
          </p>
          <img alt="VIH" src="../images/vih.jpg" />
        </section>
        ...
      </article>
      <article>
        <input
          type="button"
          name="jouer"
          value="jouer"
          onclick="changePage()"
        />
      </article>
    </main>
    <footer>
      <p>Bryan Blin--Dorrard / Viard Théo</p>
    </footer>
  </body>
</html>
